/* se centra todo el contenido */
/* se añade un margin-top a todo el contenido */
.to-do-list{
  font-family:'Arial' , sans-serif;
  text-align: center;
  margin-top: 100px;
}


h1{
  font-size: 4rem;
}

/* padding arriba y abajo 10px en los costados 20px */
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding:10px 20px;
  color:#fff;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  transition:background-color 0.5 ease;
}

.botonAgregar{
  background-color:rgba(1, 159, 1, 0.696);
}


/* se añade la pseudoclase para que la transicion tenga sentido */
/* se oscurece el boton */
.botonAgregar:hover{
  background-color: rgb(2, 128, 2);
}


.EliminarBoton{
  background-color: rgba(240, 76, 76, 0.89);
}

.EliminarBoton:hover{
  background-color: rgba(250, 0, 0, 0.89);
}



.moverBoton{
  background-color: rgb(48, 48, 237);
}


/* seleccionamos los elementos de tipo texto con la pseudoclase text */
input[type="text"]{
  font-size: 1.6rem;
  padding:10px;
  border:2px solid rgba(0, 0, 0, 0.189);
  border-radius: 5px;
  color:rgba(128, 128, 128, 0.242);
}


ol{
  padding:0;
}


li{
  font-size:2rem;
  font-weight: bold;
  padding:15px;
  background-color: white;
  margin-bottom: 10px;
  border:3px solid #0000004d;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex:1;
}